@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de vendas</h1>
    <p>Esse sistema ainda está em criação. Para mais detalhes contacte <a href="mailto:andre.santos2@sou.ufmt.br">andre.santos2@sou.ufmt.br</a></p>
</div>
