@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Sistema de vendas gerado por meio do curso: <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/"> COMPLETO Programação Orientada a Objetos + Projetos</a></p>
